<!-- Landing Page Section -->
<div data-tab-target="landing" class="landing-section text-white text-center" style="height: 100vh; display: flex; flex-direction: column; justify-content: center;">
  <h1 class="display-4 fw-bold">Welcome to James Wood's Portfolio</h1>
  <p class="mt-3">Product Manager | Full-stack Developer | Tech Enthusiast</p>
</div>

<!-- About Me Code Snippet Style -->
<div data-tab-target="about" class="d-none">
  <h2 class="d-none">About Me</h2>
  <div class="code-editor-wrapper">
    <div class="code-editor-header">
      <span class="file-name">// about_me.js</span>
    </div>
    <pre class="code-block">
    <code class="language-js">
      <span class="line-number">1</span> // Hello! I'm James Wood, a passionate developer. <br>
      <span class="line-number">2</span> <span class="code-comment">// After 4 years in startups as a product manager and COO, I discovered my passion for AI and Fintech...</span><br>
      <span class="line-number">3</span> <span class="code-comment">// Before the bootcamp:</span> I product managed in the building of a platform with robust payments and API integrations <br>
      <span class="line-number">4</span> <span class="code-keyword">const</span> <span class="code-variable">finalProject</span> = <span class="code-string">"Personalised content-ranking algorithm for streaming platforms"</span>;<br>
      <span class="line-number">5</span> <span class="code-keyword">const</span> <span class="code-variable">customGPTs</span> = <span class="code-string">"Developed custom GPTs for business efficiency and to enhance learning/coding capabilities"</span>;<br>
      <span class="line-number">6</span> <span class="code-comment">// Passion:</span> <span class="code-string">"Product development | AI | Fintech "</span><br>
      <span class="line-number">7</span> <span class="code-function">console.</span>log</span>(<span class="code-string">"Driven by curiosity and continuous learning, I strive to build impactful, elegant systems both in teams and personal projects."</span>);
    </code>
  </pre>
  </div>
</div>


<!-- Education -->
<div data-tab-target="education" class="d-none">
  <div class="education-grid">
    <div class="education-item">
      <%= image_tag "bradfield.png", alt: "Bradfield Logo", class: "education-logo" %>
      <p>Bradfield College</p>
      <p> 2011 - 2013 </p>
      <p> Economics (A) | Maths (B) | Business Studies (B) </p>
    </div>
    <div class="education-item">
      <%= image_tag "newcastle.png", alt: "Newcastle Logo", class: "education-logo" %>
      <p>Newcastle University</p>
      <p> 2014 - 2018 </p>
      <p> BA Contemporary and Popular Music</p>
    </div>
    <div class="education-item">
      <%= image_tag "lewagon.png", alt: "Le Wagon Logo", class: "education-logo" %>
      <p>Le Wagon</p>
      <p> 2024 </p>
      <p> Fullstack Web Development Bootcamp </p>
    </div>
  </div>
</div>

<!-- Experience -->
<div data-tab-target="work1" class="d-none">
  <div class="experience-container">
    <!-- Console-style text -->
    <div class="console-text">
      <h3>// Freelance | 2018 - Present</h3>
      <div class="console-output">
        <p class="console-line"><span class="prompt">➜</span> cd Freelance</p>
        <p class="console-line"><span class="prompt">➜</span> cat summary.txt</p>
        <p class="console-line output">// Worked as a technical consultant and developer for various projects...</p>
        <p class="console-line output">// Key achievements:</p>
        <p class="console-line output">  - Designed and built complex Excel documents to enhance business efficiency.</p>
        <p class="console-line output">  - Developed custom GPT-based tools tailored to client needs.</p>
        <p class="console-line output">  - Provided consulting services for solar farm projects, advising on optimisation strategies.</p>
        <p class="console-line output">  - Built optimisation tools for identifying ideal solar farm locations.</p>
      </div>
    </div>

    <!-- Skills Grid -->
    <div class="small-skills-grid">
      <div class="small-skill-item">
        <%= image_tag "excel.png", alt: "Excel Logo", class: "skill-logo" %>
        <p>Microsoft Excel</p>
      </div>
      <div class="small-skill-item">
        <%= image_tag "logical.png", alt: "Logical Logo", class: "skill-logo" %>
        <p>Logical Processing</p>
      </div>
      <div class="small-skill-item">
        <%= image_tag "openai.png", alt: "OpenAI Logo", class: "skill-logo" %>
        <p>GPT / OpenAI</p>
      </div>
      <div class="small-skill-item">
        <%= image_tag "financial_modelling.png", alt: "Financial Modelling Logo", class: "skill-logo" %>
        <p>Financial Modelling</p>
      </div>
      <div class="small-skill-item">
        <%= image_tag "JavaScript.png", alt: "JavaScript Logo", class: "skill-logo" %>
        <p>JavaScript</p>
      </div>
      <div class="small-skill-item">
        <%= image_tag "HTML.png", alt: "HTML Logo", class: "skill-logo" %>
        <p>HTML</p>
      </div>
    </div>
  </div>
</div>

<div data-tab-target="work2" class="d-none">
  <div class="experience-container">
    <!-- Console-style text -->
    <div class="console-text">
      <h3>// Whistler Blackcomb | 2018 - 2020</h3>
      <div class="console-output">
        <p class="console-line"><span class="prompt">➜</span> cd Whistler-Blackcomb</p>
        <p class="console-line"><span class="prompt">➜</span> cat summary.txt</p>
        <p class="console-line output">// Worked as a Ski Instructor at Whistler Blackcomb, delivering personalized lessons to individuals of all ages.</p>
        <p class="console-line output">// Key achievements:</p>
        <p class="console-line output">  - Developed exceptional people management and communication skills.</p>
        <p class="console-line output">  - Effectively taught and guided both beginners and advanced skiers.</p>
        <p class="console-line output">  - Strengthened my ability to manage teams and engage with diverse age groups in professional settings.</p>
      </div>
    </div>

    <!-- Skills Grid -->
    <div class="small-skills-grid">
      <div class="small-skill-item">
        <%= image_tag "leadership.png", alt: "Leadership Logo", class: "skill-logo" %>
        <p>Leadership</p>
      </div>
      <div class="small-skill-item">
        <%= image_tag "communication.png", alt: "Communication Logo", class: "skill-logo" %>
        <p>Communication</p>
      </div>
      <div class="small-skill-item">
        <%= image_tag "sales.png", alt: "Sales Logo", class: "skill-logo" %>
        <p>Sales</p>
      </div>
    </div>
  </div>
</div>

<div data-tab-target="work3" class="d-none">
  <div class="experience-container">
    <!-- Console-style text -->
    <div class="console-text">
      <h3>// Volta Solutions | 2020 - 2024</h3>
      <div class="console-output">
        <p class="console-line"><span class="prompt">➜</span> cd Volta-Solutions</p>
        <p class="console-line"><span class="prompt">➜</span> role COO | Co-Founder </p>
        <p class="console-line"><span class="prompt">➜</span> cat summary.txt</p>
        <p class="console-line output">// Co-founded Volta Solutions with my business partner to provide innovative solutions for clients.</p>
        <p class="console-line output">// Key achievements:</p>
        <p class="console-line output">  - Created and automated a sophisticated savings forecasting document that increased efficiency by 60%.</p>
        <p class="console-line output">  - Brought in key clients, contributing to significant business growth.</p>
        <p class="console-line output">  - Developed and maintained the company website and handled backend administration.</p>
        <p class="console-line output">  - Managed supplier relationships, back-office operations, and financial accounts while driving sales strategy.</p>
      </div>
    </div>

    <!-- Skills Grid -->
    <div class="small-skills-grid">
      <div class="small-skill-item">
        <%= image_tag "sales.png", alt: "Sales Logo", class: "skill-logo" %>
        <p>Sales</p>
      </div>
      <div class="small-skill-item">
        <%= image_tag "operations.png", alt: "Operations Logo", class: "skill-logo" %>
        <p>Operations</p>
      </div>
      <div class="small-skill-item">
        <%= image_tag "financial_modelling.png", alt: "Financial Modelling Logo", class: "skill-logo" %>
        <p>Financial Modelling</p>
      </div>
      <div class="small-skill-item">
        <%= image_tag "business_dev.png", alt: "Business Dev Logo", class: "skill-logo" %>
        <p>Business Development</p>
      </div>
      <div class="small-skill-item">
        <%= image_tag "leadership.png", alt: "Leadership Logo", class: "skill-logo" %>
        <p>Leadership</p>
      </div>
      <div class="small-skill-item">
        <%= image_tag "communication.png", alt: "Communication Logo", class: "skill-logo" %>
        <p>Communication</p>
      </div>
      <div class="small-skill-item">
        <%= image_tag "strategic.png", alt: "Strategic Logo", class: "skill-logo" %>
        <p>Strategic Thinking</p>
      </div>
      <div class="small-skill-item">
        <%= image_tag "excel.png", alt: "Excel Logo", class: "skill-logo" %>
        <p>Microsoft Excel</p>
      </div>
      <div class="small-skill-item">
        <%= image_tag "openai.png", alt: "OpenAI Logo", class: "skill-logo" %>
        <p>GPT / OpenAI</p>
      </div>
    </div>
</div>
</div>

<div data-tab-target="work4" class="d-none">
  <div class="experience-container">
    <!-- Console-style text -->
    <div class="console-text">
      <h3>// Lief World | 2021 - Present</h3>
      <div class="console-output">
        <p class="console-line"><span class="prompt">➜</span> cd Lief</p>
        <p class="console-line"><span class="prompt">➜</span> role Product Manager | Co-Founder </p>
        <p class="console-line"><span class="prompt">➜</span> cat summary.txt</p>
        <p class="console-line output">// Co-Founder of Lief, responsible for driving product strategy and ensuring seamless communication across departments.</p>
        <p class="console-line output">// Key contributions:</p>
        <p class="console-line output">  - Played a pivotal role in defining the business strategy and vision.</p>
        <p class="console-line output">  - Managed financial modelling, compliance documents, and business plans.</p>
        <p class="console-line output">  - Established and managed strategic partnerships to drive growth and collaboration.</p>
        <p class="console-line output">  - Collaborated with the development team on logic-based decisions to enhance platform performance.</p>
        <p class="console-line output">  - Product managed cross-functional teams to develop a sophisticated payments system and created all compliance documents to meet regulatory requirements.</p>
        <p class="console-line output">  - Product managed the development of Lief's revolutionary charity fundraising platform.</p>
        <p class="console-line output">  - Built custom GPTs to automate the creation of long-form documents, including terms and conditions, compliance documents, and business plans.</p>
      </div>
    </div>

    <!-- Skills Grid -->
    <div class="small-skills-grid">
      <div class="small-skill-item">
        <%= image_tag "openai.png", alt: "OpenAI Logo", class: "skill-logo" %>
        <p>GPT / OpenAI</p>
      </div>
      <div class="small-skill-item">
        <%= image_tag "leadership.png", alt: "Leadership Logo", class: "skill-logo" %>
        <p>Leadership</p>
      </div>
      <div class="small-skill-item">
        <%= image_tag "communication.png", alt: "Communication Logo", class: "skill-logo" %>
        <p>Communication</p>
      </div>
      <div class="small-skill-item">
        <%= image_tag "business_dev.png", alt: "Business Dev Logo", class: "skill-logo" %>
        <p>Business Development</p>
      </div>
      <div class="small-skill-item">
        <%= image_tag "sales.png", alt: "Sales Logo", class: "skill-logo" %>
        <p>Sales</p>
      </div>
      <div class="small-skill-item">
        <%= image_tag "compliance.png", alt: "Compliance Logo", class: "skill-logo" %>
        <p>Compliance</p>
      </div>
      <div class="small-skill-item">
        <%= image_tag "operations.png", alt: "Operations Logo", class: "skill-logo" %>
        <p>Operations</p>
      </div>
      <div class="small-skill-item">
        <%= image_tag "financial_modelling.png", alt: "Financial Modelling Logo", class: "skill-logo" %>
        <p>Financial Modelling</p>
      </div>
      <div class="small-skill-item">
        <%= image_tag "Strategic_partners.png", alt: "Strategic Partnerships Logo", class: "skill-logo" %>
        <p>Strategic Partnerships</p>
      </div>
      <div class="small-skill-item">
        <%= image_tag "logical.png", alt: "Logical Logo", class: "skill-logo" %>
        <p>Logical Processing</p>
      </div>
      <div class="small-skill-item">
        <%= image_tag "excel.png", alt: "Excel Logo", class: "skill-logo" %>
        <p>Microsoft Excel</p>
      </div>
      <div class="small-skill-item">
        <%= image_tag "JavaScript.png", alt: "JavaScript Logo", class: "skill-logo" %>
        <p>JavaScript</p>
      </div>
    </div>
  </div>

</div>

<!-- Tech Stack -->
<div data-tab-target="frontend" class="d-none">
  <h3>// Frontend</h3>
  <div class="skills-grid">
    <div class="skill-item">
      <%= image_tag "HTML.png", alt: "HTML Logo", class: "skill-logo" %>
      <p>HTML</p>
    </div>
    <div class="skill-item">
      <%= image_tag "CSS.png", alt: "CSS Logo", class: "skill-logo" %>
      <p>CSS</p>
    </div>
    <div class="skill-item">
      <%= image_tag "JavaScript.png", alt: "JavaScript Logo", class: "skill-logo" %>
      <p>JavaScript</p>
    </div>
    <div class="skill-item">
      <%= image_tag "bootstrap.png", alt: "Bootstrap Logo", class: "skill-logo" %>
      <p>Bootstrap</p>
    </div>
  </div>
</div>
<div data-tab-target="backend" class="d-none">
  <h3>// Backend</h3>
  <div class="skills-grid">
    <div class="skill-item">
      <%= image_tag "rails.png", alt: "Ruby Logo", class: "skill-logo" %>
      <p>Ruby on Rails</p>
    </div>
    <div class="skill-item">
      <%= image_tag "python.png", alt: "Phython Logo", class: "skill-logo" %>
      <p>Python</p>
    </div>
    <div class="skill-item">
      <%= image_tag "postgresql.png", alt: "Postgresql Logo", class: "skill-logo" %>
      <p>PostgreSQL</p>
    </div>
    <div class="skill-item">
      <%= image_tag "sql.png", alt: "SQL Logo", class: "skill-logo" %>
      <p>SQL</p>
    </div>
    <div class="skill-item">
      <%= image_tag "ruby.png", alt: "Ruby Logo", class: "skill-logo" %>
      <p>Ruby</p>
    </div>
  </div>
</div>
<div data-tab-target="skills" class="d-none">
  <h3>// Skills</h3>
  <div class="skills-grid">
    <div class="skill-item">
      <%= image_tag "excel.png", alt: "Excel Logo", class: "skill-logo" %>
      <p>Microsoft Excel</p>
    </div>
    <div class="skill-item">
      <%= image_tag "logical.png", alt: "Logical Logo", class: "skill-logo" %>
      <p>Logical Processing</p>
    </div>
    <div class="skill-item">
      <%= image_tag "openai.png", alt: "OpenAI Logo", class: "skill-logo" %>
      <p>GPT / OpenAI</p>
    </div>
    <div class="skill-item">
      <%= image_tag "leadership.png", alt: "Leadership Logo", class: "skill-logo" %>
      <p>Leadership</p>
    </div>
    <div class="skill-item">
      <%= image_tag "communication.png", alt: "Communication Logo", class: "skill-logo" %>
      <p>Communication</p>
    </div>
    <div class="skill-item">
      <%= image_tag "strategic.png", alt: "Strategic Logo", class: "skill-logo" %>
      <p>Strategic Thinking</p>
    </div>
    <div class="skill-item">
      <%= image_tag "business_dev.png", alt: "Business Dev Logo", class: "skill-logo" %>
      <p>Business Development</p>
    </div>
    <div class="skill-item">
      <%= image_tag "sales.png", alt: "Sales Logo", class: "skill-logo" %>
      <p>Sales</p>
    </div>
    <div class="skill-item">
      <%= image_tag "compliance.png", alt: "Compliance Logo", class: "skill-logo" %>
      <p>Compliance</p>
    </div>
    <div class="skill-item">
      <%= image_tag "operations.png", alt: "Operations Logo", class: "skill-logo" %>
      <p>Operations</p>
    </div>
    <div class="skill-item">
      <%= image_tag "financial_modelling.png", alt: "Financial Modelling Logo", class: "skill-logo" %>
      <p>Financial Modelling</p>
    </div>
    <div class="skill-item">
      <%= image_tag "Strategic_partners.png", alt: "Strategic Partnerships Logo", class: "skill-logo" %>
      <p>Strategic Partnerships</p>
    </div>
  </div>
</div>

<!-- Projects -->
<div data-tab-target="projects" class="d-none" data-controller="project-modal">
  <h3>// Projects</h3>
  <div class="projects-grid" >

    <div class="project-item" data-action="click->project-modal#show" data-modal-id="streaming">
      <%= image_tag "streaming.jpeg", alt: "Streaming Assistant Project", class: "project-logo" %>
      <p>StreamCaddy - Streaming Assistant</p>
    </div>

    <div class="project-item" data-action="click->project-modal#show" data-modal-id="petbnb">
      <%= image_tag "rent_a_pet.png", alt: "Pet Rental Project" , class: "project-logo" %>
      <p>Rent a Pet - Pet Rental Platform</p>
    </div>

    <div class="project-item" data-action="click->project-modal#show" data-modal-id="solar">
      <%= image_tag "solar.png", alt: "Solar Farm Mapping" , class: "project-logo"%>
      <p>Solar Farm Mapping System</p>
    </div>
  </div>

  <!-- Project Modal -->
  <div id="project-modal" class="project-modal d-none" data-project-modal-target="modal">
    <div class="modal-content" data-project-modal-target="modalContent">
      <span class="close-btn" data-action="click->project-modal#close">&times;</span>
      <div id="project-details">
        <!-- Dynamic Content for Projects Goes Here -->
      </div>
    </div>
  </div>
</div>


<!-- James's Console-->
<div data-tab-target="gpt" class="d-none">
  <div class="my-5">
    <%= render 'shared/gpt_playground' %>
  </div>
</div>

<div data-tab-target="contact" class="d-none">
  <h3>// Contact</h3>
  <div class="contact-container">
    <!-- Contact Form -->
    <div class="contact-form-wrapper">
      <%= simple_form_for :contact, url: contacts_path, method: :post, html: { class: 'contact-form' } do |f| %>
        <div class="form-group">
          <%= f.input :name, label: '_name:', placeholder: 'Enter your name', input_html: { class: 'console-input' } %>
        </div>

        <div class="form-group">
          <%= f.input :email, label: '_email:', placeholder: 'Enter your email', input_html: { class: 'console-input' } %>
        </div>

        <div class="form-group">
          <%= f.input :message, as: :text, label: '_message:', placeholder: 'Enter your message', input_html: { class: 'console-input' } %>
        </div>

        <%= f.button :submit, 'submit-message', class: 'console-button', id: 'sendBtn' %>
      <% end %>
    </div>

    <!-- JSON Preview -->
    <div class="json-preview-wrapper">
      <pre id="jsonPreview" class="console-output">
{
  "name": "",
  "email": "",
  "message": "",
  "date": ""
}
      </pre>
    </div>
  </div>
</div>
