  <div class="skills-grid">
    <div class="skill-item">
      <%= image_tag "HTML.png", alt: "HTML Logo", class: "skill-logo" %>
      <p>HTML</p>
    </div>
    <div class="skill-item">
      <%= image_tag "CSS.png", alt: "CSS Logo", class: "skill-logo" %>
      <p>CSS</p>
    </div>
    <div class="skill-item">
      <%= image_tag "JavaScript.png", alt: "JavaScript Logo", class: "skill-logo" %>
      <p>JavaScript</p>
    </div>
    <div class="skill-item">
      <%= image_tag "bootstrap.png", alt: "Bootstrap Logo", class: "skill-logo" %>
      <p>Bootstrap</p>
    </div>
    <div class="skill-item">
      <%= image_tag "rails.png", alt: "Ruby Logo", class: "skill-logo" %>
      <p>Ruby on Rails</p>
    </div>
    <div class="skill-item">
      <%= image_tag "python.png", alt: "Phython Logo", class: "skill-logo" %>
      <p>Python</p>
    </div>
    <div class="skill-item">
      <%= image_tag "postgresql.png", alt: "Postgresql Logo", class: "skill-logo" %>
      <p>PostgreSQL</p>
    </div>
    <div class="skill-item">
      <%= image_tag "sql.png", alt: "SQL Logo", class: "skill-logo" %>
      <p>SQL</p>
    </div>
    <div class="skill-item">
      <%= image_tag "ruby.png", alt: "Ruby Logo", class: "skill-logo" %>
      <p>Ruby</p>
    </div>
     <div class="skill-item">
      <%= image_tag "excel.png", alt: "Excel Logo", class: "skill-logo" %>
      <p>Microsoft Excel</p>
    </div>
    <div class="skill-item">
      <%= image_tag "logical.png", alt: "Logical Logo", class: "skill-logo" %>
      <p>Logical Processing</p>
    </div>
    <div class="skill-item">
      <%= image_tag "openai.png", alt: "OpenAI Logo", class: "skill-logo" %>
      <p>GPT / OpenAI</p>
    </div>
    <div class="skill-item">
      <%= image_tag "leadership.png", alt: "Leadership Logo", class: "skill-logo" %>
      <p>Leadership</p>
    </div>
    <div class="skill-item">
      <%= image_tag "communication.png", alt: "Communication Logo", class: "skill-logo" %>
      <p>Communication</p>
    </div>
    <div class="skill-item">
      <%= image_tag "strategic.png", alt: "Strategic Logo", class: "skill-logo" %>
      <p>Strategic Thinking</p>
    </div>
    <div class="skill-item">
      <%= image_tag "business_dev.png", alt: "Business Dev Logo", class: "skill-logo" %>
      <p>Business Development</p>
    </div>
    <div class="skill-item">
      <%= image_tag "sales.png", alt: "Sales Logo", class: "skill-logo" %>
      <p>Sales</p>
    </div>
    <div class="skill-item">
      <%= image_tag "compliance.png", alt: "Compliance Logo", class: "skill-logo" %>
      <p>Compliance</p>
    </div>
    <div class="skill-item">
      <%= image_tag "operations.png", alt: "Operations Logo", class: "skill-logo" %>
      <p>Operations</p>
    </div>
    <div class="skill-item">
      <%= image_tag "financial_modelling.png", alt: "Financial Modelling Logo", class: "skill-logo" %>
      <p>Financial Modelling</p>
    </div>
    <div class="skill-item">
      <%= image_tag "Strategic_partners.png", alt: "Strategic Partnerships Logo", class: "skill-logo" %>
      <p>Strategic Partnerships</p>
    </div>
    <div class="skill-item">
        <%= image_tag "Figma.png", alt: "Figma Logo", class: "skill-logo" %>
        <p>Figma</p>
    </div>
    <div class="skill-item">
      <%= image_tag "Miro.png", alt: "Miro Logo", class: "skill-logo" %>
      <p>Miro</p>
    </div>
    <div class="skill-item">
      <%= image_tag "clickUp.png", alt: "ClickUp Logo", class: "skill-logo" %>
      <p>ClickUp</p>
    </div>
    <div class="skill-item">
      <%= image_tag "Asana.png", alt: "Asana Logo", class: "skill-logo" %>
      <p>Asana</p>
    </div>
    <div class="skill-item">
      <%= image_tag "Trello.png", alt: "Trello Logo", class: "skill-logo" %>
      <p>Trello</p>
    </div>
  </div>
