<!DOCTYPE html>
<html>
  <head>
    <title>CvProfile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-dark text-white">
    <div class="d-flex flex-column min-vh-100">
      <!-- Sidebar and Main Content -->
      <div class="d-flex flex-grow-1">
        <!-- Sidebar -->
        <div class="bg-secondary px-3 py-4" style="width: 250px;">
          <h5 class="text-white">
            <a href="#" data-action="click->tabs#showTab" data-tab-id="landing" class="text-decoration-none text-white">
              James Wood
            </a>
          </h5>
            <ul class="list-unstyled mt-4" data-controller="tabs">
              <!-- About Section -->
              <li>
                <a href="#" data-action="click->tabs#showTab" data-tab-id="about" class="nav-link text-white">About Me</a>
              </li>

              <!-- Education Dropdown -->
              <li>
                <a href="#" data-action="click->tabs#showTab" data-tab-id="education" class="nav-link text-white">Education</a>
              </li>

              <!-- Tech Stack -->
              <li>
                <span class="nav-link text-white" data-action="click->tabs#toggleDropdown">Tech Stack & Skills</span>
                <ul class="list-unstyled ms-3 d-none" data-tab-target="dropdown">
                  <li><a href="#" data-action="click->tabs#showTab" data-tab-id="frontend" class="nav-link text-white">Frontend</a></li>
                  <li><a href="#" data-action="click->tabs#showTab" data-tab-id="backend" class="nav-link text-white">Backend</a></li>
                  <li><a href="#" data-action="click->tabs#showTab" data-tab-id="skills" class="nav-link text-white">Skills</a></li>
                </ul>
              </li>

              <!-- Experience Section -->
              <li>
                <span class="nav-link text-white" data-action="click->tabs#toggleDropdown">Experience</span>
                <ul class="list-unstyled ms-3 d-none" data-tab-target="dropdown">
                  <li><a href="#" data-action="click->tabs#showTab" data-tab-id="work1" class="nav-link text-white">Freelance</a></li>
                  <li><a href="#" data-action="click->tabs#showTab" data-tab-id="work2" class="nav-link text-white">Whistler Blackcomb</a></li>
                  <li><a href="#" data-action="click->tabs#showTab" data-tab-id="work3" class="nav-link text-white">Volta Solutions</a></li>
                  <li><a href="#" data-action="click->tabs#showTab" data-tab-id="work4" class="nav-link text-white">Lief World</a></li>
                </ul>
              </li>



              <!-- Projects -->
              <li>
                <a href="#" data-action="click->tabs#showTab" data-tab-id="projects" class="nav-link text-white">Projects</a>
              </li>

              <!-- GPT Playground -->
              <li>
                <a href="#" data-action="click->tabs#showTab" data-tab-id="gpt" class="nav-link text-white">James's Console</a>
              </li>

              <!-- Contact -->
              <li>
                <a href="#" data-action="click->tabs#showTab" data-tab-id="contact" class="nav-link text-white">Contact</a>
              </li>
            </ul>
          </div>
      <!-- Main Content -->
      <div class="flex-grow-1 main-content">
        <%= yield %>
      </div>
    </div>

    <!-- Footer -->
    <footer>
      <p class="mb-2">Find me on:</p>
      <a href="https://github.com/your-username" class="icon-link" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>
      <a href="https://twitter.com/your-username" class="icon-link" target="_blank">
        <i class="fa-brands fa-twitter"></i>
      </a>
      <a href="https://linkedin.com/in/your-username" class="icon-link" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </footer>
  </div>
</body>
</html>
